# Указываем корень конфигурации
root = true

# Общие настройки для всех файлов
[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Специфические настройки для JSON файлов
[*.json]
indent_size = 2

# Специфические настройки для Markdown файлов
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# Специфические настройки для YAML файлов
[*.yaml]
indent_size = 2
